<p><%= button_to "Find Top Rated Movies", movies_path %></p><br>

<div class=search_results>
  <% @results.each do |result| %>
    <ul>
      <li><%= link_to "#{result[:title]}" %> Vote Average: <%= result[:vote_average] %></li>
    </ul>
  <% end %>
</div>
