<h3>Welcome to Viewing Party</h3>

<h3>About: </h3>
<p>Viewing party is an application in which users can explore movie options and create a viewing party event for the user and friend's.</p>

<p><%= link_to 'Register', register_path %></p>
<p><%= button_to 'Log in', login_path %></p>
